/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";
@import "home";
$dark:    #343838;
$dark-80: #005F6B;
$dark-50: #008C9E;
// $dark-20: #00B4CC;
$dark-20: #DDD;
// $dark-0:  #00DFFC;
$text-color: #FF5C00;
$max-width: 100%;

.button {
  @include button($dark);
  color: $text-color;
  width: 15%;
  display: block;
  text-align: center;
  font-size: em(17);
  text-shadow: none;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 0 0;
  margin-bottom: 1em;
}

body {
  // background-color: #272F5D;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-width: 970px;
  line-height: normal;
}

header {
  @include span-columns(12);
  background-color: $text-color;
  // width: 1016px;
  height: 200px;
  .banner {
    @include span-columns(4 of 12);
  }
  .title {
    @include span-columns(8 of 12);
    @include omega();
    margin-top: 150px;
    font-size: 3.0em;
    font-weight: bold;
  }
}


// html {height:100% }
html {
  min-height: 100%;
  @include linear-gradient(to top, $dark-20, $dark);
}

.container {
  @include outer-container;
  margin: 0px;

  .content {
    @include span-columns(12);
    padding: 10px;

    .nominees {
      li.block {
        @include span-columns(4);
        @include omega(3n);
        .button {
          width: 200px;
        }
      }
    }
  }
}

